.App {
  text-align: center;
}

.pdf-container {
  background-color: #c3b3b3;
  display: flex;
  padding: 13px;
}

.pdf-canvas-div {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  border: 1px solid black;
}

.draggableDIv {
  border: 1px dotted black;
  position: absolute;
  z-index: 2;
}

.confirmSelectionDiv {
  border: 1px solid black;
  position: absolute;
  z-index: 2;
}

.confirmationDivHeader {
  background-color: #0a0a52;
  top: -32px;
  justify-content: flex-end;
  display: flex;
  position: absolute;
  height: 31px;
  align-items: center;
  border-top-left-radius: 8px;
  display: flex;
  border-top-right-radius: 8px;
  width: inherit;
}
.addcrosshair {
  cursor: crosshair;
  position: relative !important;
}

.renders {
  border: 1px solid black;
  z-index: 3;
}
